{{% BLOCKS }}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{$ title }}Layout{{/ title }}</title>

<!-- vendor css -->
<link href="{{ BASE_URL }}assets/css/font-awesome.css" rel="stylesheet">
<link href="{{ BASE_URL }}assets/css/ionicons.css" rel="stylesheet">

<!-- Slim CSS -->
<link rel="stylesheet" href="{{ BASE_URL }}assets/css/slim.min.css">

{{$ stylesheets }}
{{/ stylesheets }}
