{{% BLOCKS }}

<div class="slim-sidebar">
	<label class="sidebar-label">Navigation</label>

	<ul class="nav nav-sidebar">
		<li class="sidebar-nav-item with-sub">
			<a href="" class="sidebar-nav-link"><i class="icon ion-ios-people-outline"></i> Users</a>
			<ul class="nav sidebar-nav-sub">
				<li class="nav-sub-item"><a href="{{ BASE_URL }}users/list-users" class="nav-sub-link">List Users</a></li>
				<li class="nav-sub-item"><a href="{{ BASE_URL }}users/list-courses-user" class="nav-sub-link">List Courses By User</a></li>
				<li class="nav-sub-item"><a href="{{ BASE_URL }}users/bulk-user-creation" class="nav-sub-link">Bulk User Creation</a></li>
				<li class="nav-sub-item"><a href="{{ BASE_URL }}users/edit-user" class="nav-sub-link">Edit User</a></li>
				<li class="nav-sub-item"><a href="{{ BASE_URL }}users/suspend-user" class="nav-sub-link">Suspend User</a></li>
			</ul>
		</li>
		<li class="sidebar-nav-item with-sub">
			<a href="" class="sidebar-nav-link"><i class="icon ion-ios-monitor-outline"></i> Courses</a>
			<ul class="nav sidebar-nav-sub">
				<li class="nav-sub-item"><a href="{{ BASE_URL }}courses/list-courses" class="nav-sub-link">List Courses</a></li>
				<li class="nav-sub-item"><a href="{{ BASE_URL }}courses/list-users-course" class="nav-sub-link">List User By Course</a></li>
				<li class="nav-sub-item"><a href="{{ BASE_URL }}courses/bulk-course-creation" class="nav-sub-link">Bulk Course Creation</a></li>
				<li class="nav-sub-item"><a href="{{ BASE_URL }}courses/count-courses" class="nav-sub-link">Count Courses</a></li>
				<li class="nav-sub-item"><a href="{{ BASE_URL }}courses/count-with-role" class="nav-sub-link">Count Role</a></li>
				<li class="nav-sub-item"><a href="{{ BASE_URL }}courses/course-without-role" class="nav-sub-link">Course Without Role</a></li>
			</ul>
		</li>
		<li class="sidebar-nav-item with-sub">
			<a href="" class="sidebar-nav-link"><i class="icon ion-ios-list-outline"></i> Enrollments</a>
			<ul class="nav sidebar-nav-sub">
				<li class="nav-sub-item"><a href="{{ BASE_URL }}enrollments/bulk-user-enrollment" class="nav-sub-link">Bulk User Enrollment</a></li>
				<li class="nav-sub-item"><a href="{{ BASE_URL }}enrollments/bulk-user-unenrollment" class="nav-sub-link">Bulk User Unenrollment</a></li>
				<li class="nav-sub-item"><a href="{{ BASE_URL }}enrollments/dynamic-unenrollment" class="nav-sub-link">Dynamic Unenrollment</a></li>
				<li class="nav-sub-item"><a href="{{ BASE_URL }}enrollments/switch-role" class="nav-sub-link">Switch Role</a></li>
			</ul>
		</li>
		<li class="sidebar-nav-item with-sub">
			<a href="" class="sidebar-nav-link"><i class="icon ion-ios-bookmarks-outline"></i> Activities</a>
			<ul class="nav sidebar-nav-sub">
				<li class="nav-sub-item"><a href="{{ BASE_URL }}activities/count-activities" class="nav-sub-link">Count Activities</a></li>
				<li class="nav-sub-item"><a href="{{ BASE_URL }}activities/list-activities" class="nav-sub-link">List Activities</a></li>
			</ul>
		</li>
		<li class="sidebar-nav-item with-sub">
			<a href="" class="sidebar-nav-link"><i class="icon ion-ios-locked-outline"></i> Admins</a>
			<ul class="nav sidebar-nav-sub">
				<li class="nav-sub-item"><a href="{{ BASE_URL }}admins/list-admins" class="nav-sub-link">List Users</a></li>
              	<li class="nav-sub-item sub-with-sub">
              	  	<a href="#" class="nav-sub-link">Report of Users</a>
              	  	<ul>
              	  	  	<li><a href="{{ BASE_URL }}admins/users-created">Users Created</a></li>
              	  	  	<li><a href="{{ BASE_URL }}admins/logged-once">Logged Once</a></li>
              	  	  	<li><a href="{{ BASE_URL }}admins/logged-last-days">Logged Last Days</a></li>
              	  	  	<li><a href="{{ BASE_URL }}admins/list-suspended">List Suspended</a></li>
              	  	</ul>
              	</li>
			</ul>
		</li>
	</ul>
</div><!-- slim-sidebar -->
