{{% BLOCKS }}
{{< layout }}

{{$ title }}{{ COMPANY }} - List Courses By User{{/ title }}

{{$ stylesheets }}
{{/ stylesheets }}

{{$ breadcrumb }}
<li class="breadcrumb-item"><a href="{{ BASE_URL }}">Admin</a></li>
<li class="breadcrumb-item active" aria-current="page">Users</li>
<li class="breadcrumb-item active" aria-current="page">List Courses By User</li>
{{/ breadcrumb }}

{{$ pageheader }}List Courses By User{{/ pageheader }}

{{$ content }}
<label class="section-title">List Users</label>
<p class="mg-b-20 mg-sm-b-40">Courses for each User</p>

<div id="app">
    <form method="post" name="form" id="form" role="form" ref="form" novalidate>
        <div class="form-group">
            <label class="control-label" for="user">Users</label>
            <select name="user" id="user" required>
				<option data-placeholder="true"></option>
                <option v-for="user in users" :value="user.id">
                    ${ user.username } - ${ user.firstname } ${ user.lastname } - ${ user.email }
                </option>
            </select>
        </div>

		<div class="form-group table-responsive">
            <label class="control-label" for="table">Courses</label>
			<table id="table" class="table table-striped table-hover table-condensed">
				<thead>
					<tr>
						<th>id</th>
						<th>category</th>
						<th>sortorder</th>
						<th>shortname</th>
						<th>fullname</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="course in courses">
						<td>${ course.id }</td>
						<td>${ course.category }</td>
						<td>${ course.sortorder }</td>
						<td>${ course.shortname }</td>
						<td>${ course.fullname }</td>
					</tr>
				</tbody>
			</table>
		</div>
    </form>
</div>
{{/ content }}

{{$ scripts }}
{{! development version, includes helpful console warnings }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.css" rel="stylesheet"></link>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: function () {
            return {
				users: [],
                courses: []
            }
        },
        created: function () {
            this.load()
        },
        mounted: function () {
            new SlimSelect({
                select: document.querySelector('#user'),
                placeholder: 'Select an user',
                hideSelectedOption: true,
                closeOnSelect: true,
				onChange: (info) => {
                    if (info.value) {
                        axios.get(`{{ BASE_URL }}users/list-courses/${info.value}`)
                            .then(response => {
                                if (response.status == 200) {
                                    this.courses = response.data
                                }
                            })
					}
				}
            })
        },
        methods: {
            load: function () {
                this.users = JSON.parse("{{{ users }}}")
            }
        }
    })
</script>
{{/ scripts }}
{{/ layout }}
