{{% BLOCKS }}
{{< layout }}

{{$ title }}{{ COMPANY }} - Suspend User{{/ title }}

{{$ stylesheets }}
{{/ stylesheets }}

{{$ breadcrumb }}
<li class="breadcrumb-item"><a href="{{ BASE_URL }}">Admin</a></li>
<li class="breadcrumb-item active" aria-current="page">Users</li>
<li class="breadcrumb-item active" aria-current="page">Suspend User</li>
{{/ breadcrumb }}

{{$ pageheader }}Suspend User{{/ pageheader }}

{{$ alerts }}
{{# message }}
{{{ message }}}
{{/ message }}
{{/ alerts }}

{{$ content }}
<label class="section-title">List Users</label>
<p class="mg-b-20 mg-sm-b-40">List Users</p>

<div id="app">
    <form method="post" name="form" id="form" role="form" ref="form" @submit.prevent="onSubmit" novalidate>
        <div class="form-group">
            <label class="control-label" for="user">Users</label>
            <select name="users[]" id="users" multiple required>
                <option v-for="user in users" :value="user.id">
                    ${ user.username } - ${ user.firstname } ${ user.lastname } - ${ user.email }
                </option>
            </select>
        </div>

        <div id="spinner" class="form-group text-center" style="display: none;">
            <i class="fa fa-spinner fa-3x fa-pulse"></i>
            <p>Wait, in progress...</p>
        </div>

        <div class="form-group">
            <button id="btnSubmit" type="submit" class="btn btn-primary" form="form">SUBMIT</button>
        </div>
    </form>
</div>
{{/ content }}

{{$ scripts }}
{{! development version, includes helpful console warnings }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.css" rel="stylesheet"></link>

<script src="{{ BASE_URL }}assets/js/pristine.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
    new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: function () {
            return {
				users: []
            }
        },
        created: function () {
            this.load()
        },
        mounted: function () {
            new SlimSelect({
                select: document.querySelector('#users'),
                placeholder: 'Select an user',
                hideSelectedOption: true,
                closeOnSelect: false
            })
        },
        methods: {
            load: function () {
                this.users = JSON.parse("{{{ users }}}")
            },
            onSubmit: function () {
				// create the pristine instance
				var pristine = new Pristine(document.querySelector("#form"))

				if (pristine.validate()) {
					swal({
						text: "Are you sure you want to do this?",
						icon: "warning",
						buttons: true,
						dangerMode: true
					})
					.then((value) => {
						if (value) {
							document.querySelector('#btnSubmit').disabled = true
							document.querySelector('#spinner').style.display = 'block'
							document.querySelector('#form').submit()
						}
					})
				}
            }
        }
    })
</script>
{{/ scripts }}
{{/ layout }}
