{{% BLOCKS }}
{{< layout }}

{{$ title }}{{ COMPANY }} - Count Teachers{{/ title }}

{{$ stylesheets }}
{{/ stylesheets }}

{{$ breadcrumb }}
<li class="breadcrumb-item"><a href="{{ BASE_URL }}">Admin</a></li>
<li class="breadcrumb-item active" aria-current="page">Courses</li>
<li class="breadcrumb-item active" aria-current="page">Count Teachers</li>
{{/ breadcrumb }}

{{$ pageheader }}Count Teachers{{/ pageheader }}

{{$ content }}
<label class="section-title">List Courses</label>
<p class="mg-b-20 mg-sm-b-40">Teacher count in each course</p>

<div id="app" class="table-responsive">
	<table id="table" class="table table-striped table-hover table-condensed">
		<thead>
			<tr>
				<th>id</th>
				<th>course</th>
				<th>teachers</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="item in items">
				<td>${ item.id }</td>
				<td>${ item.course }</td>
				<td>${ item.teachers }</td>
			</tr>
		</tbody>
    </table>
</div>
{{/ content }}

{{$ scripts }}
{{! development version, includes helpful console warnings }}
<link href="https://cdn.jsdelivr.net/npm/vanilla-datatables@latest/dist/vanilla-dataTables.min.css" rel="stylesheet"
    type="text/css">
<script src="https://cdn.jsdelivr.net/npm/vanilla-datatables@latest/dist/vanilla-dataTables.min.js"
    type="text/javascript"></script>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
    new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: function () {
            return {
                items: []
            }
        },
        created: function () {
            this.load()
        },
        mounted: function () {
            new DataTable('#table')
        },
        methods: {
            load: function () {
                this.items = JSON.parse("{{{ items }}}")
            }
        }
    })
</script>
{{/ scripts }}
{{/ layout }}
