{{% BLOCKS }}
{{< layout }}

{{$ title }}{{ COMPANY }} - List Activities{{/ title }}

{{$ stylesheets }}
{{/ stylesheets }}

{{$ breadcrumb }}
<li class="breadcrumb-item"><a href="{{ BASE_URL }}">Admin</a></li>
<li class="breadcrumb-item active" aria-current="page">Activities</li>
<li class="breadcrumb-item active" aria-current="page">List Activities</li>
{{/ breadcrumb }}

{{$ pageheader }}List Activities{{/ pageheader }}

{{$ content }}
<label class="section-title">List Activities</label>
<p class="mg-b-20 mg-sm-b-40">List of Activities</p>

<div id="app">
    <form method="post" name="form" id="form" role="form" ref="form" novalidate>
        <div class="form-group">
            <label class="control-label" for="course">Courses</label>
            <select name="course" id="course" v-model="course" required>
				<option data-placeholder="true"></option>
                <option v-for="course in courses" :value="course.id">
                    ${ course.fullname } - ${ course.shortname }
                </option>
            </select>
        </div>

        <div class="form-group">
            <label class="control-label" for="module">Modules</label>
            <select name="module" id="module" v-model="module" required>
				<option data-placeholder="true"></option>
                <option v-for="module in modules" :value="module.name">
                    ${ module.name }
                </option>
            </select>
        </div>

		<div class="form-group table-responsive">
            <label class="control-label" for="table">Activities</label>
			<table id="table" class="table table-striped table-hover table-condensed">
				<thead>
					<tr>
						<th>id</th>
						<th>name</th>
						<th>intro</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="item in items">
						<td>${ item.id }</td>
						<td>${ item.name }</td>
						<td>${ item.intro }</td>
					</tr>
				</tbody>
			</table>
		</div>
    </form>
</div>
{{/ content }}

{{$ scripts }}
{{! development version, includes helpful console warnings }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.css" rel="stylesheet"></link>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: function () {
            return {
                courses: [],
				modules: [],
				items: [],
				course: 0,
				module: ''
            }
        },
        created: function () {
            this.load()
        },
        mounted: function () {
            new SlimSelect({
                select: document.querySelector('#course'),
                placeholder: 'Select a course',
                hideSelectedOption: true,
                closeOnSelect: true
            })

            new SlimSelect({
                select: document.querySelector('#module'),
                placeholder: 'Select a module',
                hideSelectedOption: true,
                closeOnSelect: true,
				onChange: (info) => {
                    axios.get(`{{ BASE_URL }}activities/list-module/${this.module}/${this.course}`)
                        .then(response => {
                            if (response.status == 200) {
                                this.items = response.data
                            }
                        })
				}
            })
        },
        methods: {
            load: function () {
                this.courses = JSON.parse("{{{ courses }}}")
                this.modules = JSON.parse("{{{ modules }}}")
			}
        }
    })
</script>
{{/ scripts }}
{{/ layout }}
