{{% BLOCKS }}
{{< layout }}

{{$ title }}{{ COMPANY }} - Alternate Admin{{/ title }}

{{$ stylesheets }}
{{/ stylesheets }}

{{$ breadcrumb }}
<li class="breadcrumb-item active" aria-current="page">Home</li>
{{/ breadcrumb }}

{{$ pageheader }}Admin{{/ pageheader }}

{{$ content }}
<label class="section-title">Alternate Admin</label>
<p class="mg-b-20 mg-sm-b-40">Alternate Admin for Moodle</p>

{{/ content }}

{{$ scripts }}
{{/ scripts }}
{{/ layout }}
