{{% BLOCKS }}
{{< layout }}

{{$ title }}{{ COMPANY }} - Alternate Admin{{/ title }}

{{$ stylesheets }}
{{/ stylesheets }}

{{$ breadcrumb }}
<li class="breadcrumb-item active" aria-current="page">Home</li>
{{/ breadcrumb }}

{{$ pageheader }}Admin{{/ pageheader }}

{{$ content }}
<label class="section-title">Alternate Admin</label>
<p class="mg-b-20 mg-sm-b-40">Alternate Admin for Moodle</p>

<h3>Features</h3>

<ul>
    <li>Bootstrap 4 Admin Dashboard Template</li>
    <li>Simple Vue.js 2 CDN integration</li>
    <li>Friendly Alerts via Sweet Alert</li>
    <li>Easy installation via Composer</li>
    <li>Friendly URLs</li>
    <li>Integration with Mustage Engine</li>
    <li>Gravatar Profile image</li>
</ul>

{{/ content }}

{{$ scripts }}
{{/ scripts }}
{{/ layout }}
